section{
    border: solid 1px chocolate;
    width: 100%;
    text-align: center;
}
div{
    margin: 10px;;
width: 25vw;

}
.primeiro{
float: left;

}
.segundo{
    float:right;
}
img{
border: solid blue;
}