div{
height: 250px;
width: 250px;
border: dotted 1px;
margin:0,5em;
}
.caixa1{
    /* border-color: blue;*/
border-color: darkblue;
box-sizing: content-box;
font-size: 2em;
padding: 30px;
border: dotted 10px blue;
}
.caixa2{
    /*border-color: blueviolet:*/
    border-color: cornflowerblue;
    box-sizing: border-box;
    font-size: 2em;
padding: 30px;
border: dotted 10px blueviolet;
}