.container{
width:800px ;
height: 800px;
margin: 25px auto;
    border: dotted 1px rgb(0, 0, 0);
    display: grid;
    grid-template-columns:repeat(5, 1fr) ;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "b1 b1 b1 b1 b1 b1"
    "b2 b3 b3 b3 b3 b3"
    "b2 b3 b3 b3 b3 b3"
    "b4 b4 b4 b4 b4 b4"
    "b5 b5 b5 b5 b5 b5";
}
.box1{
grid-area: b1;
background-color:yellow;
}
.box2{
    grid-area: b2;
    background-color: chocolate;
}
.box3{
    grid-area: b3;
    background-color: cornflowerblue;

}
.box4{
    grid-area: b4;
    background-color: cadetblue;
}
.box5{
    grid-area: b5;
    background-color: blueviolet;

}
.box6{
    grid-area: b6;
    background-color: darkslateblue;
}
.box7{
grid-area: b7;
background-color: blue;
}