@charset "utf-8";
h1{
    color: rgb(146, 28, 28);
}

@media screen  and (max-width:320px) {

    /* Enquanto a tela não for maior que 320px */
    h1{
        color: blue;
        font-size: 2.3rem;
    }   
}
@media print and ( max-width:1200px){
h1{
    color: darkblue;
}
h2{
    color: darkred;
}
}
@media (max-width:481px){

}
@media (min-width:769){
    h3{
        color: antiquewhite;
    }
}
@media (min-widht :1025)and (max-widht:1200px){

    h2,h3,h4,h5{
        display: none;
    }



}